<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Stock Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Stock Tracker</h1>
        <form method="POST">
            <label for="ticker">Stock Ticker:</label>
            <input type="text" id="ticker" name="ticker" placeholder="Enter stock ticker" required>
            
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required>
            
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required>
            
            <button type="submit">Get Data</button>
        </form>
        
        {% if data is not none %}
        <h2>Historical Data for {{ request.form['ticker'].upper() }}</h2>
        <a href="{{ url_for('download') }}" class="download-button">Download CSV</a>
        <a href="{{ url_for('visualize')}}">Visualize</a>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data.itertuples() %}
                <tr>
                    <td>{{ row.Date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ row.Open }}</td>
                    <td>{{ row.High }}</td>
                    <td>{{ row.Low }}</td>
                    <td>{{ row.Close }}</td>
                    <td>{{ row.Volume }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</body>
</html>
